<!doctype html>
<html class="no-js">
  <head>
    {{! Document Settings }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{! Page Meta }}
    <title>{{@blog.title}}</title>
    <meta name="description" content="{{@blog.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="shortcut icon" href="{{asset "img/x22.png"}}">
    <link rel="stylesheet" href="{{asset "css/styles.css"}}">
    {{ghost_head}}
    <script src="{{asset "js/vendor/modernizr-2.8.0.min.js"}}"></script>
  </head>
  <body>
    <div class="lateral">
      <aside class="author">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
        <p class="name">
          {{#if @blog.description}}
            <a href="{{@blog.url}}">{{@blog.title}}</a>
          {{/if}}
        </p>
        <p class="about">
          {{#if @blog.description}}<span>{{@blog.description}}</span>{{/if}}
        </p>
        <ul class="menu">
          <li><a href="/">首页</a></li>
          <li><a href="/tagcloud">标签云</a></li>
          {{!-- <li><a href="/file">归档</a></li> --}}
        </ul>
        <ul class="social">
          <li><a class="icon-github" href="https://github.com/StellaQ" target="_blank" title="Fork me on Github"></a></li>
          <li>
            <a class="icon-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
          </li>
          <li><a class="icon-search" href="/search" title="Search"></a></li>
        </ul>
      </aside>
    </div>

    <div class="{{body_class}} home">

      {{{body}}}

      <footer class="main-footer">
        <div class="container clearfix">
          <p>Proudly published with <a href="https://github.com/tryghost/ghost" title="Ghost">Ghost</a>.</p>
        </div>
      </footer>

      {{ghost_foot}}

      <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
      <script src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>

      <script src="{{asset "js/plugins.js"}}"></script>
      <script src="{{asset "js/main.js"}}"></script>

    </div>
  </body>
</html>
