{{!< default}}
<link rel="stylesheet" href="{{asset "js/sharejs/css/share.min.css"}}">
<link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
<div class="container clearfix">
  <main role="main" class="content">

    {{#post}}
    <article class="{{post_class}} post">

      <h3>{{title}}</h3>

      <footer class="post-info">Posted on
        <span class="post-meta">
          <time datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="YYYY MMMM Do"}}</time>
          {{tags separator=", " prefix="Tagged in "}}
        </span>
      </footer>

      {{content}}
      <div class="social-share" data-mode="prepend"></div>
    </article>

    <div id="disqus_thread"></div>

    {{/post}}

  </main>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
  <script src="{{asset "js/sharejs/js/jquery.share.min.js"}}"></script>
  <script >hljs.initHighlightingOnLoad();</script>
  <script>
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://http-blog-yami-group.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <script>
  $(document).ready(function(){
    document.title = $('article h3:first').text();
  });
  var $config = {
    url: location.href,
    source: $(document.head).find('[name=site],[name=Site]').attr('content')||document.title,
    title: $('article h3:first').text() ||
    document.title,
    description: $('article p:first').text().substring(0,60) || '',
    image: $('img:first').prop('src') || '',
    sites: ['douban','weibo','wechat','qq','qzone'],
    wechatQrcodeTitle   : "微信扫一扫：分享",
    wechatQrcodeHelper  : '<p style="text-align:center;">微信里点“发现”，扫一下</p><p style="text-align:center;">二维码便可将本文分享至朋友圈。</p>',
  };
  $('.social-share').share($config);
  </script>
</div>











